<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/vuelos']" routerLinkActive="router-link-active" >Vuelos</a>
      <a mat-list-item [routerLink]="['/vuelos']" routerLinkActive="router-link-active" >Coches de Alquiler</a>
      <a mat-list-item [routerLink]="['/vuelos']" routerLinkActive="router-link-active" >Hoteles</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Agencia de Viajes</span>
      <button [routerLink]="['/login']" routerLinkActive="router-link-active"  mat-raised-button style="position: absolute; right: 5px; ">Inicia Sesión</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
